/* div {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */

#black {
  text-align: center;
  height: 300px;
  width: 100px;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.light {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  border-color: white;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
